/* ------------------------------
LOGIN 
---------------------------------*/
.login .login-form {
  width: 70%;
  background: #fff;
}

.login-form .form-group {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 8px;
}

.login-form .error-message {
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.login-form .error-message br + br {
  margin-top: 25px;
}

.login-form .loading {
  background: #fff;
  text-align: center;
  padding: 15px;
}

.login-form .loading::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6ps 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.login-form input {
  border-radius: 7px;
  box-shadow: none;
  font-size: 14px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  height: 44px;
}

.login-form button[type="submit"] {
  background: #d4a373;
}
